{% extends 'bases/base.html.twig' %}

{% block title %}Email de réinitialisation du mot de passe{% endblock %}

{% block description %}Email de réinitialisation du mot de passe{% endblock %}

{% block main %}
    <main>
        <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-8">
                <div class="card shadow">
                    <div class="card-body">
                        <h1 class="text-center">E-mail de réinitialisation du mot de passe envoyé</h1>
                        <p class="lead text-center mb-4">
                            S'il existe un compte correspondant à votre adresse e-mail, un e-mail vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
                        </p>
                        <p class="text-center mb-4">
                            Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
                        </p>
                        <p>Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou  <a href="{{ path('vers_authenticator_forgot_password_request') }}" style="color: #fd7e14;"> essayer à nouveau.</a></p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    
{% endblock %}
