{% extends "bases/admin.html.twig" %}

{% block title %}Liste des catégories{% endblock %}

{% block description %}Liste des catégories{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-2">Espace catégorie</h1>

    <div class="d-flex justify-content-end align-items" >
        <a class="btn btn-primary shadow" href=""><i class="fa-solid fa-plus">Nouvelle catégorie</i></a>
    </div>
{% endblock %}
    