{% extends 'bases/base.html.twig' %}


{% block title %}En attente de la confirmation du compte par email{% endblock %}

{% block description %}
    Hello! Nous sommes en attente de la vérification de votre compte par email
{% endblock %}

{% block main %}
<main>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h1 class="text-center my-3 display-5">En attente</h1>
                <p>Un email vous à été envoyer consulter votre boite mail pour la validation de votre compte.</p>
            </div>
        </div>
    </div>
</main>
{% endblock %}