{% extends "bases/admin.html.twig" %}
{% block main %}
<h1 class="text-center">Création d'un nouveau Bungalow</h1>

{{ include('bungalow/_form.html.twig') }}


	<a href="{{ path('admin_bungalow_index') }}" value="retour à la liste"></a>

{% endblock %}
			
				
            
		