{% extends "bases/admin.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block description %}Accueil{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-2">Espace admin</h1>
{% endblock %}
    

    

    
